---
import { Contact } from "@/components/contact";
import { Heading, Paragraph } from "@/components/ui/text";
import MainLayout from "@/layouts/main.astro";

const workexperience = [
  {
    role: "Product Engineer",
    company: "Contract & Consulting",
    location: "Remote, NG",
    date: { start: "2025", end: "Present" },
  },
  {
    role: "CTO, Founding Engineer",
    company: "Slimepay Finance",
    location: "Remote, NG",
    date: { start: "2024", end: "2025" },
  },
  {
    role: "Software Engineer",
    company: "audIT",
    location: "Remote, US",
    date: { start: "2022", end: "2024" },
  },
  {
    role: "Frontend Developer",
    company: "Cytecode",
    location: "Port Harcourt, NG",
    date: { start: "2021", end: "2022" },
  },
];
---

<MainLayout>
  <section class="">
    <div>
      <Heading variant="h3">Chizi Victor</Heading>
      <Paragraph className="text-muted-foreground leading-none">Software developer</Paragraph>
    </div>

    <Paragraph>
      Hi, I'm Chizi — a software developer and design engineer based in Port Harcourt, Nigeria.
      <br /><br />
      I solve unique business problems for startups and business owners in finance and commerce. My projects
      are often focused on design systems, accessibility, typography, and animations.
      <br /><br />
      Currently, I work with founders and business owners looking to build and scale their ideas with
      software solutions. If that sounds like you, <Contact client:load>let's connect!</Contact>
    </Paragraph>
  </section>

  <div></div>

  <section>
    <Heading variant="h4">Experience</Heading>

    <div class="space-y-6">
      {
        workexperience.map((exp) => (
          <div class="flex flex-col justify-between gap-2 sm:flex-row-reverse sm:gap-4">
            <Paragraph className="text-sm sm:text-muted-foreground text-muted-foreground/70">
              {exp.date.start} - {exp.date.end}
            </Paragraph>

            <div>
              <Paragraph>{exp.role}</Paragraph>
              <Paragraph className="text-muted-foreground">
                {exp.company} - {exp.location}
              </Paragraph>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>

<style>
  section {
    display: grid;
    gap: calc(var(--spacing) * 10) /* 2.5rem = 40px */;

    @media (width >= 40rem /* 640px */) {
      gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
      grid-template-columns: 1fr 2fr;
    }
  }
</style>
