---
import "@/styles/global.css";
import Clock from "@/components/clock.svelte";
import { Heading } from "@/components/ui/text";
import Analytics from "@/components/analytics.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const pageTitle = title ? `${title} - Chizi Victor` : "Chizi Victor";
const size = 16;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
    <meta name="description" content="Software developer and unabashed nerd." />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://chizi.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Chizi Victor" />
    <meta property="og:description" content="Software developer and unabashed nerd." />
    <meta property="og:image" content="https://ik.imagekit.io/chizidotdev/portfolio/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="chizi.dev" />
    <meta property="twitter:url" content="https://chizi.dev" />
    <meta name="twitter:title" content="Chizi Victor" />
    <meta name="twitter:description" content="Software developer and unabashed nerd." />
    <meta
      name="twitter:image"
      content="https://ik.imagekit.io/chizidotdev/portfolio/og-image.png"
    />
    <Analytics />
  </head>

  <body>
    <div class="flex min-h-dvh flex-col gap-20 px-6 pt-6 pb-20 2xl:px-12">
      <header class="flex items-center-safe justify-between">
        <a href="/" class="flex items-center gap-2">
          <svg
            width={size}
            height={size}
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50" class="fill-foreground"></circle>
          </svg>
          <span class="sr-only">Chizi Victor</span>
          {!!title && <Heading variant="h4">. &nbsp; {title}</Heading>}
        </a>

        <Clock client:load />
      </header>

      <main class="container flex flex-1 flex-col gap-20">
        <slot />
      </main>
    </div>
  </body>
</html>
