---
import "@/styles/global.css";
import Clock from "@/components/clock.svelte";
import { Heading } from "@/components/ui/text";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const pageTitle = title ? `${title} - Chizi Victor` : "Chizi Victor";
const size = 16;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>

  <body>
    <div class="flex min-h-dvh flex-col gap-20 px-6 pt-6 pb-16">
      <header class="flex items-center-safe justify-between">
        <a href="/" class="flex items-center gap-2">
          <svg
            width={size}
            height={size}
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="50" cy="50" r="50" fill="#121212"></circle>
          </svg>
          <span class="sr-only">Chizi Victor</span>
          {!!title && <Heading variant="h4">. &nbsp; {title}</Heading>}
        </a>

        <Clock client:load />
      </header>

      <slot />
    </div>
  </body>
</html>
