---
Astro.response.headers.set("Cache-Control", "public, max-age=60, s-maxage=300, must-revalidate");
Astro.response.headers.set(
  "Cloudflare-CDN-Cache-Control",
  "public, max-age=60, stale-while-revalidate"
);

import Analytics from "@/components/site-analytics.astro";
import { Toaster } from "@/components/ui/sonner";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const pageTitle = title ? `${title} - Chizi Victor` : "Chizi Victor";
const pageDescription = description || "Software developer and unabashed nerd.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/pfp.png" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://chizi.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Chizi Victor" />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content="https://ik.imagekit.io/chizidotdev/portfolio/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="chizi.dev" />
    <meta property="twitter:url" content="https://chizi.dev" />
    <meta name="twitter:title" content="Chizi Victor" />
    <meta name="twitter:description" content={pageDescription} />
    <meta
      name="twitter:image"
      content="https://ik.imagekit.io/chizidotdev/portfolio/og-image.png"
    />
    <Analytics />
  </head>

  <body>
    <slot />
    <Toaster client:load />
  </body>
</html>
